<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN
http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
<dict>
<key>Label</key>
  <string>moosenet.icecream</string>
<key>ProgramArguments</key>
  <array>
    <string><PACKAGE_PREFIX>/icecream/sbin/iceccd</string>
    <string>-s</string>
    <string>icecream.inl.gov</string>
    <string>-N</string>
    <string><CHANGEME></string>
    <string>-m</string>
    <string><CPUS></string>
  </array>
<key>RunAtLoad</key>
  <true/>
<key>GroupName</key>
  <string>daemon</string>
<key>KeepAlive</key>
  <true/>
</dict>
</plist>
